<?php

return $config = [
    'APP_URL' => 'http://localhost',
    'APP_ENV' => 'production',
    'APP_NAME' => 'PS-Collector',

    'DB_HOST' => 'mysql',
    'DB_PORT' => 3306,
    'DB_USER' => 'developer',
    'DB_PASSWORD' => 'secret123',
    'DB_NAME' => 'pscdb',

    'JWT_SECRET' => 'secret',

    'TURNSTILE_KEY' => '1x00000000000000000000AA',
    'TURNSTILE_SECRET' => '1x0000000000000000000000000000000AA',

    'MAIL_HOST' => '',
    'MAIL_USER' => '',
    'MAIL_PASSWORD' => '',
    'MAIL_PORT' => 587,
    'MAIL_DEBUG' => false,
];
